{% extends 'layout/layout.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block subBody %}
    <h1>Modifier un auteur</h1>

    <div>
        {{ include('author/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('author/_delete_form.html.twig') }}
    </div>

    <div class="mt-3">
        <a href="{{ path('app_author_list') }}">back to list</a>
    </div>

    
{% endblock %}