{% extends 'base.html.twig' %}

{% block book_menu %}active
{% endblock %}

{% block title %}Liste des livres
{% endblock %}

{% block subtitle %}<h2 class="text-muted fw-bold mb-4">Les livres/Résultats de recherche</h2>{% endblock %}