{% extends 'layout/layout.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block subBody %}
    <h1>Nouveau livre</h1>

    {{ include('book/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_book_list') }}">back to list</a>
    </div>
{% endblock %}